S12 T02: Tasca de web scraping
Descripció

Aprèn a realitzar web scraping.
Nivell 1
- Exercici 1

Realitza web scraping d'una pàgina de la borsa de Madrid (https://www.bolsamadrid.es) utilitzant BeautifulSoup i Selenium.

In [5]:
from bs4 import BeautifulSoup
from selenium import webdriver
from selenium.webdriver import Firefox
from selenium.webdriver.support.ui import Select
from selenium.webdriver.firefox.options import Options
from selenium.webdriver.common.by import By
import pandas as pd

 <table border="0" cellpadding="3" cellspacing="0" class="TblPort TblAccPort" data-scroll="5" data-tablaacc="IndMerc1" data-tablagrupo="IndiceMerc" width="100%">

In [2]:
URL = 'https://www.bolsamadrid.es/ing/aspx/Mercados/Precios.aspx?indice=ESI100000000'

#driver = webdriver.Chrome('C:\\Users\\rodrm191\\Documents\\proyectos\\itacademy\\Web-scraping\\chromedriver.exe')
driver = webdriver.Chrome('./chromedriver')

driver.get(URL)

html = driver.page_source
soup = BeautifulSoup(driver.page_source, 'html.parser')

/tmp/ipykernel_156239/3572415452.py:4: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome('./chromedriver')

results = soup.find_all("td",class_="DifClBj")
for job_element in results:
    print(job_element, end="\n"*2)

In [3]:
Indice_Merc_table = soup.find("table",{'class':'TblPort','id':'ctl00_Contenido_tblAcciones'})
rows = Indice_Merc_table.findAll('tr')



# now grab every HTML cell in every row
data=list()
for tr in rows: #<td class="DifFlSb" align="left"><a href="/esp/aspx/Empresas/FichaValor.aspx?ISIN=ES0125220311">ACCIONA</a></td>
    data.append([td.get_text() for td in tr.find_all('td')])

info=list()
COLUMN_NAMES = ["Name", "Last", "Diff", "High", "Low", "Volume", "Turnover", "Date", "Time"]
for it in iter(data):
    info.append(dict(zip(COLUMN_NAMES, it)))

df_info=pd.DataFrame(data,columns=COLUMN_NAMES)
df_info

,Name,Last,Diff,High,Low,Volume,Turnover,Date,Time
0,None,None,None,None,None,None,None,None,None
1,ACCIONA,185.7000,1.48,185.7000,180.9000,"145,611","26,793.11",06/04/2022,Close
2,ACERINOX,9.5540,-2.41,9.9220,9.4400,"1,826,233","17,556.23",06/04/2022,Close
3,ACS,23.4600,-3.81,24.5400,23.3800,"1,251,560","29,697.43",06/04/2022,Close
4,AENA,143.3500,-1.88,146.2500,142.0000,"140,166","20,107.18",06/04/2022,Close
5,ALMIRALL,11.9500,0.00,12.2500,11.8000,"501,011","6,002.78",06/04/2022,Close
6,AMADEUS,57.4000,-3.72,60.0000,56.9600,"834,017","48,179.72",06/04/2022,Close
7,ARCELORMIT.,28.0100,-1.67,28.5000,27.7000,"400,151","11,212.71",06/04/2022,Close
8,B.SANTANDER,3.0380,-3.25,3.1745,3.0100,"69,135,494","211,772.63",06/04/2022,Close
9,BA.SABADELL,0.6966,-4.81,0.7414,0.6922,"64,895,968","46,177.78",06/04/2022,Close
10,BANKINTER,5.1340,-4.43,5.4180,5.0880,"3,846,618","19,890.18",06/04/2022,Close
11,BBVA,4.8565,-3.26,5.1220,4.8080,"39,499,159","194,633.26",06/04/2022,Close
12,CAIXABANK,3.0800,-2.25,3.2130,3.0670,"19,931,511","61,861.92",06/04/2022,Close
13,CELLNEX,45.1200,-2.36,46.4700,44.6100,"1,295,526","58,723.91",06/04/2022,Close
14,CIE AUTOMOT.,19.4500,-2.31,20.1000,19.2200,"295,604","5,778.57",06/04/2022,Close
15,ENAGAS,20.5800,0.68,20.7000,20.3600,"1,181,031","24,309.53",06/04/2022,Close
16,ENDESA,20.0600,1.34,20.0600,19.7150,"938,278","18,729.94",06/04/2022,Close
17,FERROVIAL,23.7500,-1.21,24.2700,23.4700,"799,026","19,009.21",06/04/2022,Close
18,FLUIDRA,25.5000,-3.04,26.5200,25.3200,"351,466","9,083.69",06/04/2022,Close
19,GRIFOLS CL.A,16.8450,-3.77,17.4300,16.8450,"1,148,946","19,515.75",06/04/2022,Close
20,IAG,1.6185,-3.69,1.7005,1.5865,"32,356,022","52,684.84",06/04/2022,Close
21,IBERDROLA,10.7450,2.48,10.7450,10.4300,"18,527,464","197,664.46",06/04/2022,Close
22,INDITEX,19.7400,-1.45,20.2600,19.5300,"3,584,908","70,912.75",06/04/2022,Close
23,INDRA A,9.2450,-2.79,9.6250,9.2250,"959,070","8,951.77",06/04/2022,Close
24,INM.COLONIAL,8.0800,-3.35,8.3500,8.0300,"1,062,754","8,679.88",06/04/2022,Close
25,MAPFRE,1.8630,-1.48,1.9140,1.8610,"3,746,717","7,006.01",06/04/2022,Close
26,MELIA HOTELS,6.3000,-5.19,6.7250,6.3000,"894,277","5,755.32",06/04/2022,Close
27,MERLIN,10.3900,-3.53,10.7100,10.3800,"960,313","10,051.19",06/04/2022,Close
28,NATURGY,28.2400,1.88,28.2400,27.4300,"434,988","12,223.77",06/04/2022,Close
29,PHARMA MAR,75.3800,-0.08,76.9000,74.8000,"85,276","6,472.21",06/04/2022,Close
30,R.E.C.,19.0600,0.32,19.1600,18.8650,"1,791,219","34,107.05",06/04/2022,Close
31,REPSOL,12.3000,0.90,12.4200,12.1650,"6,195,618","76,349.07",06/04/2022,Close
32,ROVI,69.4500,-0.07,69.9000,67.9500,"126,704","8,718.52",06/04/2022,Close
33,SIEMENS GAME,16.1000,-5.57,17.2400,15.6750,"3,240,644","52,348.71",06/04/2022,Close
34,SOLARIA,22.8100,1.38,22.8300,21.9000,"1,134,873","25,525.41",06/04/2022,Close
35,TELEFONICA,4.5420,1.00,4.5420,4.4640,"17,158,072","77,595.37",06/04/2022,Close

In [4]:
driver.close()
quit()

Nivell 2

- Exercici 2

Documenta en un word el teu conjunt de dades generat amb la informació que tenen els diferents arxius de Kaggle.

is defined on File S12T02E2.odt

Nivell 3
- Exercici 3

Tria una página web que tu vulguis i realitza web scraping mitjançant la llibreria Scrapy.

In [1]:
import scrapy
from scrapy.crawler import CrawlerRunner
from crochet import setup
setup()

In [9]:
class Reads(scrapy.Spider):
    name = "ligthprice"

    start_urls =['https://tarifaluzhora.es/']

    custom_settings = {
      'FEED_EXPORT_ENCODING':'utf-8',
      'FEED_FORMAT':'csv', 
      'FEED_URI': 'ligthprice.csv',
      'USER_AGENT': 'Mozilla/5.0 (iPad; CPU OS 12_2 like Mac OS X) AppleWebKit/605.1.15 (KHTML, like Gecko) Mobile/15E148'
      }
    
    def parse(self, response):
        
      hours = response.selector.xpath('//span[@itemprop="description"]/text()').getall()
      price = response.selector.xpath('//span[@itemprop="price"]/text()').getall()


        # Result
      for item in zip(hours, price):
        yield {'hours': item[0],'price': item[1]}

In [3]:

crawler = CrawlerRunner()
crawler.crawl(Reads)

In [8]:
pd.read_csv('ligthprice.csv')

         hours          price
0   00h - 01h:  0.34239 €/kWh
1   01h - 02h:   0.3308 €/kWh
2   02h - 03h:  0.32736 €/kWh
3   03h - 04h:  0.31959 €/kWh
4   04h - 05h:  0.32315 €/kWh
5   05h - 06h:  0.33429 €/kWh
6   06h - 07h:   0.3586 €/kWh
7   07h - 08h:  0.36828 €/kWh
8   08h - 09h:  0.41715 €/kWh
9   09h - 10h:  0.38583 €/kWh
10  10h - 11h:  0.42456 €/kWh
11  11h - 12h:  0.38963 €/kWh
12  12h - 13h:   0.3808 €/kWh
13  13h - 14h:  0.33468 €/kWh
14  14h - 15h:  0.30078 €/kWh
15  15h - 16h:   0.2807 €/kWh
16  16h - 17h:  0.27604 €/kWh
17  17h - 18h:  0.27592 €/kWh
18  18h - 19h:  0.32589 €/kWh
19  19h - 20h:   0.3569 €/kWh
20  20h - 21h:  0.41515 €/kWh
21  21h - 22h:  0.40974 €/kWh
22  22h - 23h:  0.35098 €/kWh
23  23h - 24h:  0.33724 €/kWh